<!DOCTYPE html>
<html>
    <head>
        <title>Personal</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="icon" href="/image/LOGO-RIF-1.png" type="png" size=20px>

    </head>
    <body>
        <h1>Personal</h1>    
        <div>
            <form action="./" method="GET">    
                <div>
                    <label for="id">Cedula</label>
                    <input type="text" name="cedula" tabindex="1" required>
                </div>
                <div>
                    <label >Nombre y Apellido</label>
                    <input type="text" name="nombre_y_apellido" tabindex="2" required>
                </div>         
                <div>
                    <label >Cargo</label>
                    <input type="text" name="cargo" tabindex="3" required>
                </div> 
                <div>
                    <label >Usuario</label>
                    <input type="text"  name="usuario" tabindex="4" required>
                </div>  
                <div>
                    <label >Clave</label>
                    <input type="text"name="clave" tabindex="5" required>
                </div>  
                <div>
                    <label >Especialidad</label>
                    <input type="text"  name="especialidad" tabindex="6" required>
                </div>  
                
                <button type="submit" tabindex="7">Guardar</button>
                <a href="./">Cancelar</a>
            </form>
        </div>

    </body>
</html>
