<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/style_error.css">
    <script src="https://kit.fontawesome.com/fed6c5b9e1.js" crossorigin="anonymous"></script>
    <title>ERROR</title>
</head>
<body>
    
    <main class="cuerpo">
        <section class="contenedor">
            <article class="contenido contenidoA">
                <h2>ERROR</h2>
                <div class="iconos">
                    <i class="fa-sharp fa-solid fa-4  cuatro"></i>
                    <i class="fa-solid fa-face-dizzy  face"></i>
                    <i class="fa-sharp fa-solid fa-4  cuatro"></i>
                </div>
                <h2>NO FOUND</h2>
                <p>No se puede eliminar el registro ya que esta enlazado a otra tabla</p>
            </article>

            <article class="contenido">
                <form action="../" method="get" style="width: 8cm;">
                    <button class="boton" id="regresar">REGRESAR</button>
                </form>
                <img src="/image/er.png" alt="Imagen png de error" style="height: 10cm;">
            </article>
        </section>
    </main>

</body>
</html>