<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/style_no_contenido.css">
    <link rel="icon" href="/image/LOGO-RIF-1.png" type="png" size=20px>

    <script src="https://kit.fontawesome.com/fed6c5b9e1.js" crossorigin="anonymous"></script>
    <title>Sin resultados</title>
</head>
<body>
    
    <main class="cuerpo">
        <section class="contenedor">
            <article class="contenido contenidoA">
                <h2>STATUS</h2>
                <div class="iconos">
                    <i class="fa-sharp fa-solid fa-2  cuatro"></i>
                    <i class="fa-solid fa-face-grimace face"></i>
                    <i class="fa-sharp fa-solid fa-4  cuatro"></i>
                </div>
                <h2>NO CONTENT</h2>
                <p>No se ha encontrado ningun tipo de contenido en tu búsqueda, regresa a la página de inicio presionando el boton</p>
            </article>

            <article class="contenido">
                <form action="./" method="get" style="width: 8cm;">
                    <button class="boton" id="regresar">REGRESAR</button>
                </form>
                <img src="/image/imagen.png" alt="Imagen png de sin contenido" style="width: 6cm; height: 10cm;">
            </article>
        </section>
    </main>

</body>
</html>