<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/style_sin_permisos.css">
    <script src="https://kit.fontawesome.com/fed6c5b9e1.js" crossorigin="anonymous"></script>
    <title>Resgustrese!</title>
</head>
<body>
    
    <main class="cuerpo">
        <section class="contenedor">
            <article class="contenido contenidoA">
                <h2>No posee una Cuenta</h2>
                <div class="iconos">
                    <i class="fa-sharp fa-solid fa-4  cuatro"></i>
                    <i class="fa-solid fa-face-angry face"></i>
                    <i class="fa-sharp fa-solid fa-3  cuatro"></i>
                </div>
                <h2>SIN PERMISOS</h2>
                <p>No tienes permisos para acceder a estas opciones de la página, regresa a la página de inicio y registrese</p>
            </article>

            <article class="contenido">
                <form action="../" method="get" style="width: 8cm;">
                    <button class="boton" id="regresar">REGRESAR</button>
                </form>
                <img src="/image/can.png" alt="Imagen png de sin contenido" style="height: 10cm;">
            </article>
        </section>
    </main>

</body>
</html>